 <!-- this is the start of the footer -->
 <section class="footer-section">
    <div class="footer-container">
    <div class="white-footer-logo">
        <img class="footer-logo" src="../../assets/white web2sky logo.svg">
    </div>
    <div class="category footers">
        <h4 class="heading-footer">OUR SERVICES</h4>
        <div class="links"><a href="#">branding</a> </div>
        <div class="links"><a href="#">UX_UI design</a></div>
        <div class="links"><a href="#">front end coding</a></div>
        <div class="links"><a href="#">back end coding</a></div>
    </div>
    <div class="rating-copyright footers">
        <h4 class="heading-footer">RATING</h4>
        <div>
            <img class="rate" src="../../assets/4 stars.svg" alt="rate">
        </div>
        <h6 class="copy-right">Copy Right &copy; reserves by web2sky<br>
             made with ❤ by <span style="font-weight: 900;
             font-size: 14px;">MOniem</span></h6>
    </div>
    <div class="social-contacts footers">
        <h4 class="heading-footer">CONTACTS</h4>
        <div class="icons-flex">
            <a href="#" class="social-icon twitter">
                <img class="icon" src="../../assets/twitter icon.svg" alt="twitter">
            </a>
            <a href="#" class="social-icon facebook">
                <img class="icon" src="../../assets/facebook icon.svg" alt="facebook">                
            </a>
            <a href="#" class="social-icon whatsapp">
                <img class="icon" src="../../assets/whatsapp icon.svg" alt="whatsapp">
            </a>
            <a href="#" class="social-icon linkedin">
                <img class="icon" src="../../assets/linked in icon.svg" alt="linkedin">            
            </a>
            <a href="#" class="social-icon behance">
                <img class="icon" src="../../assets/behance icon.svg" alt="behance">
            </a>
            <a href="#" class="social-icon pinterest">
                <img class="icon" src="../../assets/pinterest icon.svg" alt="pinterest">
            </a>
        </div>
    </div>
</div>

</section>


<!-- the end of footer -->

