

    <!-- start of the our services section -->

    




    <!-- this is the nav bar okay! -->
    <!-- this is the nav bar okay! -->


    <!--   here my navbar if i wanna to update it or else   -->
    
        
            <!-- this is the nav bar okay! -->
            <!-- this is the nav bar okay! -->
            
        
         <!-- header of the services -->
         <section class="our-services">    
            <div class="header-services">
                <img class="lft-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
                <h1 class="heading-ourservices">ABOUT US</h1>
                <img class="rght-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
            </div>
        </section>
            <div class="clearfix"></div>
            
            <!-- end of the header of services -->

            <!-- the start of the content -->

            <!-- start of our-story  -->
        <section class="our-story">
            <div class="content">
                <h1 class="heading-content">OUR STORY</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, saepe consectetur! Iste magnam a ipsam dignissimos saepe soluta magni dolorem alias, exercitationem quia porro mollitia atque temporibus quidem omnis minus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aspernatur blanditiis veritatis doloremque cupiditate dicta quam placeat in dolorum dolorem unde commodi maiores id, amet aliquam deleniti ducimus laudantium perspiciatis?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error minima recusandae reiciendis perferendis! Repellendus animi maiores id. Recusandae, vero. Debitis natus unde ea dignissimos fugit, amet quisquam similique consectetur praesentium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vitae, sunt velit placeat tempora rerum quaerat aperiam corrupti expedita non maxime excepturi quidem quam. Neque accusantium aliquam laudantium facere cum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, dicta ullam quisquam incidunt earum optio excepturi cum, quasi doloribus voluptatum similique est nobis tenetur dolorem. Est tenetur dolor nobis deleniti?
                </p>
            </div>
            <div class="img-ourstory">
                <img src="../../assets/our_story.jpg" alt="">
            </div>
        </section>
        <!-- end of our-story  -->

        <!-- start of our-team  -->
        <section class="team-section">
            <h1 class="heading-content">OUR TEAM</h1>
            <div class="our-team">
                <div class="box">
                    <div class="img-team">
                        <img src="../../assets/moniem.png" alt="">
                    </div>
                    <h4 class='name'>MOniem</h4>
                    <p class='job'>Front-End Dev.</p>
                </div>
                <div class="box">
                    <div class="img-team">
                        <img src="../../assets/islamsayed.jpg" alt="">
                    </div>
                    <h4 class='name'>ISLAM SAYED</h4>
                    <p class='job'>GRAPHIC DESIGNER.</p>
                </div>
                <div class="box">
                    <div class="img-team">
                        <img src="../../assets/saeed.jpg" alt="">
                    </div>
                    <h4 class='name'>SAEED ELDEEB</h4>
                    <p class='job'>Back-End Dev.</p>
                </div>
            </div>
        </section>

        <!-- end of our-team  -->

            <!-- the end of the content -->
        
        
        <!--here is the footer-->
            <app-footer></app-footer>
<router-outlet></router-outlet>