
<!-- this is the nav bar okay! -->
    <!-- this is the nav bar okay! -->


    
        <!-- this is the nav bar okay! -->
        <!-- this is the nav bar okay! -->



        <!-- header of the works -->
<section class="our-services">
    
        <div class="header-services">
            <img class="lft-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
            <h1 class="heading-ourservices">OUR WORK</h1>
            <img class="rght-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
        </div>
    </section>
    <div class="clearfix"></div>
    
    <!-- end of the header of works -->


    <!-- the start of our works content  -->
    <section class="section-content">

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
    <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
</div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
    </div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
    </div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
    </div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
    </div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
    </div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
    </div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
    </div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>

<div class="container">
<div class="container-img">
        <a class="btn" href="#">View</a>
        <img class="imge" src="../../assets/Why-You-Must-Choose-MEAN-Stack-Development-For-Your-Next-Project-1140x694.jpg" alt="value">
</div>
<div class="kalam-container">
    <div class="container-title">
        VALUESOFT
    </div>
    <div class="container-parag">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores repellat est vel, necessitatibus repudiandae, id aliquam animi laudantium a dolore totam. Tempora fugiat eveniet deserunt. Eligendi laboriosam minus libero ducimus!
    </div>
</div>
</div>


    </section>

    <!-- the end of our works content  -->
    
    <div class="clearfix"></div>

    <app-footer></app-footer>
    <router-outlet></router-outlet>