
    <!-- start of the our services section -->

    
        <!-- this is the nav bar okay! -->
        <!-- this is the nav bar okay! -->
        
    
    
    
    
    
        <!-- header of the services -->
        <section class="our-services">
            
            <div class="header-services">
                <img class="lft-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
                <h1 class="heading-ourservices">OUR SERVICES</h1>
                <img class="rght-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
            </div>
        </section>
        <div class="clearfix"></div>
        
        <!-- end of the header of services -->
    
    
    
    
    
    
    
        <!-- this is the content section of the services -->
        
        <section class="content-section">
            
                <!-- branding section -->
                <div class="branding content">
                        <div class="logo-services branding">
                            <img class="ftimg" src="../../assets/branding icon.svg" alt="Branding">
                        </div>
                        <div class="kalam">
                            <h1 class="box-header">branding</h1>
                            <p class="cont-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nisi, laboriosam id nam, blanditiis autem a est ratione mollitia eos architecto libero, aut dignissimos in sequi sed quasi iure aliquam!
                            </p>
                        </div>
                </div>
                        <!-- end of branding section -->
                        
                        <!-- ux_ui design section -->
                <div class="ux-uidesign content rght">
                                <div class="clr-bck"></div>
                                <div class="clr-bck-cpy"></div>
                        <div class="logo-services ux-uidesign">
                            <img class="ftimg" src="../../assets/UX-UI icon.svg" alt="UX_UI Design">
                        </div>
                        <div class="kalam">
                            <h1 class="box-header">ux_ui design</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nisi, laboriosam id nam, blanditiis autem a est ratione mollitia eos architecto libero, aut dignissimos in sequi sed quasi iure aliquam!
                            </p>
                        </div>
                </div>
                        <!-- end of ux_ui design section -->
        
                        <!-- front end section -->
                <div class="frontendcoding content">
                        <div class="logo-services frontendcoding">
                            <img class="ftimg" src="../../assets/front end icon.svg" alt="Front end coding">
                        </div>
                        <div class="kalam">
                            <h1 class="box-header">front end coding</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nisi, laboriosam id nam, blanditiis autem a est ratione mollitia eos architecto libero, aut dignissimos in sequi sed quasi iure aliquam!
                            </p>
                        </div>
                </div>
                        <!-- end of front end section -->
        
                        <!-- back end section -->
                <div class="backendcoding content rght">
                        <div class="clr-bck"></div>
                        <div class="clr-bck-cpy"></div>
                            <div class="logo-services backendcoding">
                                <img class="ftimg" src="../../assets/back end icon.svg" alt="Back end coding">
                            </div>
                            <div class="kalam">
                            <h1 class="box-header">back end coding</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore nisi, laboriosam id nam, blanditiis autem a est ratione mollitia eos architecto libero, aut dignissimos in sequi sed quasi iure aliquam!
                            </p>    
                        </div>
                </div>
        
                        <!-- end of back end section -->
        
        </section>
        <div class="clearfix"></div>

        <app-footer></app-footer>

        <router-outlet></router-outlet>