

    <!-- start of the our services section -->

    




    <!-- this is the nav bar okay! -->
    <!-- this is the nav bar okay! -->


    
            <!-- this is the nav bar okay! -->
            <!-- this is the nav bar okay! -->
            
        
         <!-- header of the services -->
         <section class="our-services">
            
                <div class="header-services">
                    <img class="lft-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
                    <h1 class="heading-ourservices">REVIEWS</h1>
                    <img class="rght-serv lamp" src="../../assets/lamp in the header1.png" alt="OUR SERVICES">
                </div>
            </section>
            <div class="clearfix"></div>
            
            <!-- end of the header of services -->



        <section class="content">
            <div class="review-us">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim odit similique quisquam earum molestias commodi? Ipsa porro numquam iusto illo. Dignissimos id cupiditate eum, assumenda corrupti quaerat unde corporis obcaecati.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, possimus molestias minima distinctio ad at fugit tempore quas quidem laborum sapiente pariatur voluptates laboriosam. Nisi saepe quo nobis doloribus exercitationem.
                </p>
                
                <app-review-pop></app-review-pop>
            </div>
            <div class="carousel">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <img class="man" src="../../assets/harry-styles2.jpg" alt="Random first slide">
                      <div class="carousel-caption">
                        <h3>ISLAM SAYED</h3>
                        <p style="font-size: 10px;">WEB2SKY</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum qui minus! Hic blanditiis quibusdam assumenda, at, quaerat delectus modi unde error dolorum vero reprehenderit aliquam perspiciatis animi ut est!</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="man" src="../../assets/harry-styles2.jpg" alt="Random first slide">
                      <div class="carousel-caption">
                        <h3>SAEED ELDEEB</h3>
                        <p style="font-size: 10px;">302_labs_Backend</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum qui minus! Hic blanditiis quibusdam assumenda, at, quaerat delectus modi unde error dolorum vero reprehenderit aliquam perspiciatis animi ut est!</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img class="man" src="../../assets/moniem.png" alt="Random first slide">
                      <div class="carousel-caption">
                        <h3>MOniem</h3>
                        <p style="font-size: 10px;">302_labs_Frontend</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum qui minus! Hic blanditiis quibusdam assumenda, at, quaerat delectus modi unde error dolorum vero reprehenderit aliquam perspiciatis animi ut est!</p>
                      </div>
                    </ng-template>
                </ngb-carousel>
            </div>


        </section>
        
        
        
        
            <app-footer></app-footer>
<router-outlet></router-outlet>










































