<!-- <app-chat>
    <img src="../../../assets/chat icon.svg" alt="chat">
</app-chat> -->
<ngb-carousel>
    <ng-template ngbSlide>
        <img class="handlamp" src="../../../assets/hand with lamp.svg" alt="Random first slide">
        <div class="vertical-row"></div>
      <div class="carousel-caption">
        <h3>Hi,<br>
                DO you have a great idea
                and need some help to
                breang it to the real world ?? </h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="rocket" src="../../../assets/rocket.svg" alt="Random second slide">
        <div class="vertical-row"></div>
        <div class="carousel-caption">
            <h3>You know ,<br>
                    it requires a strong barand design
                    and website to get a great launch.</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="chat-indicators" src="../../../assets/lines around chat icon.svg" alt="chat with us">
      <div class="carousel-caption last-slide">
        <h3>All you need to do is just click<br>
                on that chat botton , sign up ,<br>
                and lets prepare for your fenomenal<br>
                launch.</h3>
      </div>
    </ng-template>
  </ngb-carousel>